html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: rgb(100, 237, 207);
}
a
{
    color:#48d65f;
}
a:visited
{
    color:blanchedalmond;
}
a:hover, a:active
{
    color:rgb(2, 90, 90);
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    text-align: center;
    max-width: 550px;
    align-items: center;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}